.login-container {
    height: 100vh;
    width: 100%;
    position: relative;

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .logo{
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 7px;
        position: absolute;
        top: 60px;
        margin-left: 20px;
        font-family: cursive;
    }
    .disc{
        font-size: 25px;
        font-family: 'Aladin' cursive;
        top: 200px;
        letter-spacing: 5px;
        position: absolute;
        right: 50px;text-align: right;
        width: 1200px;
    }
    .film{
        position: absolute;
        width: 500px;
        height: 500px;
    }
    .login-form{
        width: 500px;
        height: 350px;
        padding: 20px;
        background: transparent;
        border-radius: 10px;
        position: absolute;
        border: 2px solid rgba(255,255,255,.2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        bottom: 50px;
        right: 50px;
        border-radius: 5px 5px 20px gray;

    }

    .form-group{
        padding: 20px;
    }
    .btn-container{
        position: relative;
    }

    .btn-container button{
      text-decoration: none;
      border-radius: 0.2rem;
      background-color: black;
      color: aliceblue;
     transition: all ease 0.3s;
    }

    .btn-container button:hover{
        background-color: white;
        color: red;
    }
    .ms{
        position: absolute;
        top: 22px;
        right: 0px;
        color: red;
    }
    .dp{
        background-color: black;
    }

}