<app-header style="position: sticky;"></app-header>
  <div class="fit">
    <div class="img" style="width: 30%;">
        <img src="https://www.publikcoffee.com/images/slides/new_omar21.png" alt="" height="300px" style="margin-top: 20px;">
    </div>
    <div class="par" style="width: 40%;">
       <p>We sweat the small stuff. And the big stuff.</p>
       <h2>QUALITY over QUANTITY</h2>
       <h2>COMUNITY over COPERATE</h2>
       <h2>PLANETCOR  over  PROFITCOR</h2>

    </div>
    <div class="pic" style="width: 30%;">
    <img src="https://www.publikcoffee.com/images/slides/new_omar21.png" alt="" height="300px"></div>

  </div>

  <div class="main">
    <h1 style="color: rgb(64,54,54); margin-left: 560px; margin-top: 60px; font-family: cursive; font-weight: bold;">SOLID COFEE..</h1>
    <h1 style="color: rgb(64,54,54); margin-left: 360px; margin-top: 30px; font-family: cursive; font-weight: bold;">NO BIG BUISSNUESS ATTITUDE</h1>
    <P style="color: rgb(64,54,54); margin-left: 450px;">Based in Salt Lake City, Utah we are a small batch specialty Cofee and the roast <br> roaster that roasts to order — minimizing waste and focusing on taste on high.

    </P>
  </div>
    <div class="mainn" style="display: flex; margin-left: 158px; gap: 10px;">

    <div class="first">
        <img src="https://images.pexels.com/photos/9667826/pexels-photo-9667826.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" height="370px" width="370px">
    </div>

    <div class="idoo" style="background-color: rgb(68, 31, 4); height: 370px;width: 370px;">
<div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
        <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">CABIN</button>
        <p style="font-size: small; margin-top: 20px; color: black;">COFEE</p>
</div>
    </div>

    <div style="background-color: rgb(117, 14, 14); height: 370px; width: 370px;">
        <div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
            <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
            <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
    </div>
    
    </div>

  </div>


<div class="mainn" style="display: flex; margin-left: 158px; gap: 10px;">

    <div class="idoo" style="background-color: rgb(68, 31, 4); height: 370px;width: 370px;">
        <div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
            <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
            <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
        </div>
        </div>
        
<div class="idoo" style="background-color: rgb(68, 31, 4); height: 370px;width: 370px;">
<div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
    <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
    <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
</div>
</div>

<div style="background-color: rgb(117, 14, 14); height: 370px; width: 370px;">
    <div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
        <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
        <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
</div>

</div>

</div>
<div class="mainn" style="display: flex; margin-left: 158px; gap: 10px;">

    <div class="idoo" style="background-color: rgb(68, 31, 4); height: 370px;width: 370px;">
        <div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
            <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
            <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
        </div>
        </div>
        
<div class="idoo" style="background-color: rgb(68, 31, 4); height: 370px;width: 370px;">
<div class="ido" style="margin-top: 110px; font-family: cursive;font-weight: bold;font-size: 27px;margin-left: 60px;">
    <button style="color: white; margin-top: -40px; padding: 80px; border: none; ">COFEE</button>
    <p style="font-size: small; margin-top: 20px; color: black;">CHOCOLATES~CITRUS~ALMONDS</p>
</div>
</div>

<div>
<img src="https://images.pexels.com/photos/9667826/pexels-photo-9667826.jpeg?auto=compress&cs=tinysrgb&w=600" style="background-color: rgb(117, 14, 14); height: 370px; width: 370px;">
</div>

</div>

<div class="phul" style="display: flex; gap: 80px;">

    <div class="form" style="margin-left: 40px;">
<H3 style="margin-left:25%;margin-top: 5%;">LOCATION</H3>
<a href="" style="color: rgb(9, 2, 43); font-size: 22px; margin-top: 20px;">DOWNTOWN</a><br>

<button style="margin-top: 15px; margin-left: -10px;">Order Checkout</button>
<h4 style="margin-top: 15px;">Hours</h4>
<p style="margin-top: 15px;">mon to friday:7am to 10pm <br>sat to sunday:7am to 12pm</p>

<H4 style="margin-top: 15px;">ADDRESS</H4>
<p style="margin-top: 15px;">near London street x</p>

<h4>Phone</h4>
<p>8232456</p>
<a href="" style="color: rgb(9, 2, 43); font-size: 22px; margin-top: 100px;">DOWNTOWN</a><br>
        
<button style="margin-left: -10px;margin-top: 20px;">Order Checkout</button>
<h4>Hours</h4>
<p>mon to friday:7am to 10pm <br>sat to sunday:7am to 12pm</p>

<H4>ADDRESS</H4>
<p>near London street x</p>

<h4>Phone</h4>
<p>8232456</p>


    </div>
        
    <div class="form" style="margin-top: 60px;">
        <a href="" style="color: rgb(9, 2, 43); font-size: 22px; margin-top: 100px;">DOWNTOWN</a><br>
        
        <button style="margin-left: -10px;margin-top: 20px;">Order Checkout</button>
        <h4>Hours</h4>
        <p>mon to friday:7am to 10pm <br>sat to sunday:7am to 12pm</p>
        
        <H4>ADDRESS</H4>
        <p>near London street x</p>
        
        <h4>Phone</h4>
        <p>8232456</p>
        <a href="" style="color: rgb(9, 2, 43); font-size: 22px; margin-top: 100px;">DOWNTOWN</a><br>
        
        <button style="margin-left: -10px;margin-top: 20px;">Order Checkout</button>
        <h4>Hours</h4>
        <p>mon to friday:7am to 10pm <br>sat to sunday:7am to 12pm</p>
        
        <H4>ADDRESS</H4>
        <p>near London street x</p>
        
        <h4>Phone</h4>
        <p>8232456</p>

            </div>
        

    <div width="50%"><img src="https://img.freepik.com/premium-vector/vector-sketch-coffee-organic-packaging-nature-realistic-template-with-leaf-bean-art-hand-drawing-floral-illustration-white-background-botanical-doodle-label-poster-card-symbol-eco-food_253482-399.jpg?w=740" alt=""></div>
</div>




<div class="imo" style="background-repeat: no-repeat;">
    <video src="https://cdn.pixabay.com/vimeo/646668850/bible-98036.mp4?width=640&hash=172eac2c2a639e637f9bffa47202333e05a63d07" autoplay="" muted="" loop=""></video>

</div>


<div id="card-container">
    <div class="card" id="card-1">
        <div class="overplay">
            <h3>COFEE</h3>
            <P>Lorem, ipsum dolor sit amet consectetur <br>adipisicing elit. Eum quam<br> rerum harum dicta sed 
            optio blanditiis,<br> quisquam, dolorum soluta voluptatem<br> consequatur odit id magni sunt<br> eos excepturi itaque.</P>
        </div>
  
    </div>
</div>
<div id="card-container">

    <div class="card" id="card-2">
        <div class="overplay">
            <h3>REFRESHMENTS</h3>
            <P>Lorem, ipsum dolor sit amet consectetur <br>adipisicing elit. Eum quam<br> rerum harum dicta sed 
            optio blanditiis,<br> quisquam, dolorum soluta voluptatem<br> consequatur odit id magni sunt<br> eos excepturi itaque.</P>
        </div>
  
    </div>

</div>

<div id="card-container">

    <div class="card" id="card-3">
        <div class="overplay">
            <h3>POP CORNS</h3>
            <P>Lorem, ipsum dolor sit amet consectetur <br>adipisicing elit. Eum quam<br> rerum harum dicta sed 
            optio blanditiis,<br> quisquam, dolorum soluta voluptatem<br> consequatur odit id magni sunt<br> eos excepturi itaque.</P>
        </div>
  
    </div>

</div>









  <router-outlet></router-outlet>

  <h1>zain jutt</h1>