<div class="header-container">
    <div class="logo" (click)="goHome()"><img src="https://www.publikcoffee.com/images/admin/publik-logo-light.png" alt="" style="height: 100px;"></div>
    <div style="margin-right: 250px;" class="div"><a class="logout" (click)="logout()" style="color: white;">Logout</a>
        <a class="logout" (click)="logout()" style="color: white;">Shop</a>
        <a class="logout" (click)="logout()" style="color: white;">Contact</a>
        <a class="logout" (click)="logout()" style="color: white;">Event</a>
        <button routerLink="part1">Order Checkout</button>
       
    </div>
    

</div> 

